<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your order, <%= @user.first_name %>!</h1>
    <p>
      You'll receive word once your order is in transit.
    </p>
    <p>
      To keep shopping, just follow this link: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>