// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products", "users";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.sale-price span, span.sale-price {
  text-decoration: line-through;
}

.nav > li > a {
  display: inline-block;
}

.alert-info {
  margin-top: 2em
}

div.mx-auto {
  margin-top: 10em;
  margin-left: 25em;
  margin-right: 25em;
}

.jumbotron {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

.continue {
  margin-bottom: 1em;
}